@font-face {
  font-family: 'GamestationCondensed-GYay';
  src: local('GamestationCondensed-GYay'), 
       url('./assets/GamestationCondensed-GYay.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GamestationCondensed-GYay", Arial;
  background-color: black;
}
