@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'GamestationCondensed-GYay';
  src: local('GamestationCondensed-GYay'), url(.assets/fonts/GamestationCondensed-GYay.otf) format('opentype');
}


#logo {
  font-family: "GamestationCondensed-GYay";
}